.jumbotron{
	background:  orange;
	color:  black;
	margin-top: 50px;
}

footer{
	padding:  10px 10 px 0 10px;
	background-color: orange;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-product{
	flex:  1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}

