$yellow: #e0e004;
$green: #08780e;
$red: #e60e0e;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding($top, $rigth, $bottom, $left){
	padding-top: $top;
	padding-rigth: &rigth;
	padding-bottom: &bottom;
	padding-left: $left;
}


.jumbotron{
	background:  $yellow;
	color:  black;
	@include margenes(50px, 0px);
}

footer{
	@include padding(10px, 10px, 0px, 10px);
	background-color: $yellow;
	@include margenes(10px, 0px);
}

.card-product{
	flex:  1 200px;
	@include padding(2px, 0px, 2px, 0px);
	@include margenes(10px, 0px);
}

.btn-reserva{
	background: $green;
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	@include padding(0px, 10px, 0px, 0px);
}
.tab-content{
	background: $red;
	@include padding(10px, 0px, 0px, 0px);
}