.jumbotron {
  background: #e0e004;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding-top: 10px;
  padding-rigth: footer rigth;
  padding-bottom: footer bottom;
  padding-left: 10px;
  background-color: #e0e004;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-product {
  flex: 1 200px;
  padding-top: 2px;
  padding-rigth: .card-product rigth;
  padding-bottom: .card-product bottom;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  background: #08780e;
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-rigth: .footer-address-icon rigth;
  padding-bottom: .footer-address-icon bottom;
  padding-left: 0px; }

.tab-content {
  background: #e60e0e;
  padding-top: 10px;
  padding-rigth: .tab-content rigth;
  padding-bottom: .tab-content bottom;
  padding-left: 0px; }
